.logo {
    display: inline-block;
    vertical-align: middle;
    width: 30px; /* Adjust the width and height as needed */
    height: 30px;
    margin-right: 10px; /* Adjust the margin as needed */
  }
  