/* #map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  } */

  /* #map { 
    height: 45rem; 
    border-style: solid;
} */

/* Slide menu shit */
#map {
    position: absolute;
    width: 100%;
    height: 100%;
    font-weight: 400;
  }

  .content {
    margin: 0.25rem;
    border-top: 1px solid #000;
    padding-top: 0.5rem;
  }

  #title {
    font-size: 1.1rem;
    color: #000000;
    font-weight: bold;
  }

  .bottom {
    margin-top: 64px;
    font-size: 0.8rem;
    color: #7f7f7f;
  }
  #popup {
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 100px;
    background-color: white;
    z-index: 1000;
  }

  #logo{
      width:100%
  }

#menu{
  font-weight: bold;
  font-size: 1rem;
}

#popup-r {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 20%;
  height: 100px;
  background-color: none;
  z-index: 1000;
}

.info {
  display: "none";
  top: 150px;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  /* background: rgba(255,255,255,0.8); */
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #000000;
  ;
}

